/**
 * @file
 * Variables used in SASS for generating site styles.
 */

$dark_grey:#373534;
$dark_grey_grad:#1a1a1a;
$dark_med_grey:#747679;
$med_grey:#b3b3b3;
$med_light_grey:#d1d0ce;
$light_grey:#eaeae9;
$blue:#0085cf;
$green:#55a51c;
$red:#f32837;
$orange:#ff5113;
$orange_grad:#e65303;